@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

* {
    padding: 0px;
    margin: 0px;
}

header{
    height: 500px;
    background-image: linear-gradient(to right, #191970, #4B0082);
}

header h1{
    font-size: 90px;
    font-family: 'Playfair Display';
    margin-top: 40px;
    margin-left: 18px;
    color: white;
}

header h2{
    font-size: 30px;
    font-family: 'Nunito';
    font-weight: 50px;
    padding-top: 90px;
    margin-left: 20px;
    color:antiquewhite;
}

#menu{
    font-family: 'Playfair Display';
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 1000px;
    text-decoration: none;
    font-size: 40px;
    margin-top: -160px;
}

#backend{
    margin-top: -60px;
    margin-left: 20px;
}

#faixa{
    background-image: linear-gradient(to right, #191970, #4B0082);
    height: 20px;
}

#sobremim{
    height: 500px;
    background-color: black;
    text-align: center;
    padding-top: 60px;
}

#sobremim h2{
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: linear-gradient(to right, #191970, #4B0082);
    width: 270px;
    color: white;
    text-align: center;
    margin-left: 540px;
}

#sobremim p{
    font-size: 23px;
    font-family: 'Playfair display';
    color: white;
    padding: 10px;
}

.btnmodalsobre{
    width: 300px;
    height: 75px;
    background-color: #1B3B5F;
    font-size: 35px;
}

#sobremim div{
    justify-content: end;
}

#projetos{
    height: 500px;
    background-color: black;
}

#projetos h1{
    font-size: 90px;
    font-family: 'Playfair Display';
    color: #FFFFFF;
    padding-top: 40px;
    text-align: center;
}

#cards{
    display: flex;
    justify-content: space-around;
    margin-top: 90px;
}

.card{
    background-color: antiquewhite;
    width: 400px;
    height: 250px;
    border-radius: 20px;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
}

.content{
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border-radius: 5px;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#abrirmodal{
    width: 250px;
    background-image: linear-gradient(to right, #191970, #4B0082);
}